services:
  db:
    image: postgres:16-alpine
    container_name: postgres_otp
    restart: unless-stopped
    environment:
      POSTGRES_USER: otpuser
      POSTGRES_PASSWORD: otppass123
      POSTGRES_DB: otpdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    container_name: redis_otp
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    build: .
    container_name: fastapi_otp
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      .env

volumes:
  postgres_data:
  redis_data: